openapi: 3.2.0
info:
  title: EPFL Memento Events Mementos API
  description: Public REST API serving EPFL events ("Memento"), with resources for events, mementos, categories, domains, faculties, registrations, spoken languages and vulgarizations.
  version: v1
  contact:
    name: EPFL Memento API
    url: https://memento.epfl.ch/api/docs/
servers:
- url: https://memento.epfl.ch/api/v1
security: []
tags:
- name: Mementos
paths:
  /mementos/:
    get:
      operationId: listMementos
      summary: List all Memento objects
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Ordering'
      responses:
        '200':
          description: A paginated list of mementos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedMementoList'
      tags:
      - Mementos
  /mementos/{id}/:
    get:
      operationId: readMemento
      summary: Return the details about the given Memento id
      parameters:
      - $ref: '#/components/parameters/IntId'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Ordering'
      responses:
        '200':
          description: A single memento.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Memento'
      tags:
      - Mementos
  /mementos/{id}/events/:
    get:
      operationId: listMementoEvents
      summary: List events for a memento
      parameters:
      - $ref: '#/components/parameters/IntId'
      responses:
        '200':
          description: Events for the memento.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEventList'
      tags:
      - Mementos
components:
  schemas:
    SpokenLanguage:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
    Vulgarization:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
    PaginatedMementoList:
      type: object
      properties:
        count:
          type: integer
        next:
          type:
          - string
          - 'null'
          format: uri
        previous:
          type:
          - string
          - 'null'
          format: uri
        results:
          type: array
          items:
            $ref: '#/components/schemas/Memento'
    Registration:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
    Memento:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
    Category:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
    Event:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        slug:
          type: string
        event_url:
          type: string
          format: uri
        visual_url:
          type: string
          format: uri
        visual_large_url:
          type: string
          format: uri
        visual_maxsize_url:
          type: string
          format: uri
        lang:
          type: string
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        start_time:
          type: string
        end_time:
          type: string
        description:
          type: string
        image_description:
          type: string
        creation_date:
          type: string
          format: date-time
        last_modification_date:
          type: string
          format: date-time
        link_label:
          type: string
        link_url:
          type: string
        canceled:
          type: string
        cancel_reason:
          type: string
        place_and_room:
          type: string
        url_place_and_room:
          type: string
        url_online_room:
          type: string
        spoken_languages:
          type: array
          items:
            $ref: '#/components/schemas/SpokenLanguage'
        speaker:
          type: string
        organizer:
          type: string
        contact:
          type: string
        is_internal:
          type: string
        theme:
          type: string
        vulgarization:
          $ref: '#/components/schemas/Vulgarization'
        registration:
          $ref: '#/components/schemas/Registration'
        keywords:
          type: string
        file:
          type:
          - string
          - 'null'
        icalendar_url:
          type: string
          format: uri
        category:
          $ref: '#/components/schemas/Category'
        academic_calendar_category:
          type:
          - string
          - 'null'
        domains:
          type: array
          items:
            $ref: '#/components/schemas/Domain'
        mementos:
          type: array
          items:
            $ref: '#/components/schemas/Memento'
    PaginatedEventList:
      type: object
      properties:
        count:
          type: integer
        next:
          type:
          - string
          - 'null'
          format: uri
        previous:
          type:
          - string
          - 'null'
          format: uri
        results:
          type: array
          items:
            $ref: '#/components/schemas/Event'
    Domain:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
  parameters:
    Ordering:
      name: ordering
      in: query
      description: Which field to use when ordering the results.
      schema:
        type: string
    Search:
      name: search
      in: query
      description: A search term.
      schema:
        type: string
    Offset:
      name: offset
      in: query
      description: The initial index from which to return the results.
      schema:
        type: integer
    IntId:
      name: id
      in: path
      required: true
      description: A unique integer value identifying this object.
      schema:
        type: integer
    Limit:
      name: limit
      in: query
      description: Number of results to return per page.
      schema:
        type: integer
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Optional DRF Token authentication.
    basicAuth:
      type: http
      scheme: basic
x-operator: institution
x-provenance:
  generated: '2026-06-03'
  verified: '2026-08-19'
  method: derived
  source: Django REST Framework CoreAPI schema at https://memento.epfl.ch/api/docs/; every collection path re-probed against https://memento.epfl.ch/api/v1 on 2026-08-19 and all answer 200.
  operator_basis: host under EPFL's own registrable domain epfl.ch
  note: Pristine pre-refine source. This document has the CORRECT host. refine-openapis later merged tags across both EPFL specs and stamped every per-tag split with the first spec's server, which is how six memento-only resources came to claim actu.epfl.ch. Corrected in openapi/ on 2026-08-19.
