openapi: 3.2.0
info:
  title: Epfl Categories API
  version: v1
  description: 'Operations tagged Categories across 2 of this provider''s published API definitions: epfl-actu.yaml, epfl-memento.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://actu.epfl.ch/api/v1
- url: https://memento.epfl.ch/api/v1
security: []
tags:
- name: Categories
paths:
  /categories/:
    get:
      operationId: listCategories
      summary: List all Category objects
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Search'
      responses:
        '200':
          description: A paginated list of categories.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCategoryList'
      tags:
      - Categories
    servers:
    - url: https://actu.epfl.ch/api/v1
  /categories/{id}/:
    get:
      operationId: readCategory
      summary: Return the details about the given Category id
      parameters:
      - $ref: '#/components/parameters/IntId'
      - $ref: '#/components/parameters/Search'
      responses:
        '200':
          description: A single category.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
      tags:
      - Categories
    servers:
    - url: https://actu.epfl.ch/api/v1
components:
  schemas:
    PaginatedCategoryList:
      type: object
      properties:
        count:
          type: integer
        next:
          type:
          - string
          - 'null'
          format: uri
        previous:
          type:
          - string
          - 'null'
          format: uri
        results:
          type: array
          items:
            $ref: '#/components/schemas/Category'
    Category:
      type: object
      properties:
        id:
          type: integer
        fr_label:
          type: string
        en_label:
          type: string
        de_label:
          type: string
    Category_2:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
  parameters:
    Search:
      name: search
      in: query
      description: A search term.
      schema:
        type: string
    Offset:
      name: offset
      in: query
      description: The initial index from which to return the results.
      schema:
        type: integer
    IntId:
      name: id
      in: path
      required: true
      description: A unique integer value identifying this object.
      schema:
        type: integer
    Limit:
      name: limit
      in: query
      description: Number of results to return per page.
      schema:
        type: integer
    Ordering:
      name: ordering
      in: query
      description: Which field to use when ordering the results.
      schema:
        type: string
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'DRF Token authentication, e.g. "Authorization: Token <key>".'
    basicAuth:
      type: http
      scheme: basic
x-refined-from:
- epfl-actu.yaml
- epfl-memento.yaml
x-operator: institution
x-provenance:
  generated: '2026-06-03'
  verified: '2026-08-19'
  method: derived
  source: Django REST Framework CoreAPI schema at https://actu.epfl.ch/api-docs/; every collection path re-probed against https://actu.epfl.ch/api/v1 on 2026-08-19 and all answer 200.
  operator_basis: host under EPFL's own registrable domain epfl.ch
  note: Pristine pre-refine source. This document has the CORRECT host. refine-openapis later merged tags across both EPFL specs and stamped every per-tag split with the first spec's server, which is how six memento-only resources came to claim actu.epfl.ch. Corrected in openapi/ on 2026-08-19.
