openapi: 3.2.0
info:
  title: EPFL Memento Events Vulgarizations API
  description: Public REST API serving EPFL events ("Memento"), with resources for events, mementos, categories, domains, faculties, registrations, spoken languages and vulgarizations.
  version: v1
  contact:
    name: EPFL Memento API
    url: https://memento.epfl.ch/api/docs/
servers:
- url: https://memento.epfl.ch/api/v1
security: []
tags:
- name: Vulgarizations
paths:
  /vulgarizations/:
    get:
      operationId: listVulgarizations
      summary: List all Vulgarization objects
      responses:
        '200':
          description: A list of vulgarizations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedVulgarizationList'
      tags:
      - Vulgarizations
  /vulgarizations/{id}/:
    get:
      operationId: readVulgarization
      summary: Return the details about the given Vulgarization id
      parameters:
      - $ref: '#/components/parameters/IntId'
      responses:
        '200':
          description: A single vulgarization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vulgarization'
      tags:
      - Vulgarizations
components:
  parameters:
    IntId:
      name: id
      in: path
      required: true
      description: A unique integer value identifying this object.
      schema:
        type: integer
  schemas:
    Vulgarization:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
    PaginatedVulgarizationList:
      type: object
      properties:
        count:
          type: integer
        next:
          type:
          - string
          - 'null'
          format: uri
        previous:
          type:
          - string
          - 'null'
          format: uri
        results:
          type: array
          items:
            $ref: '#/components/schemas/Vulgarization'
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Optional DRF Token authentication.
    basicAuth:
      type: http
      scheme: basic
x-operator: institution
x-provenance:
  generated: '2026-06-03'
  verified: '2026-08-19'
  method: derived
  source: Django REST Framework CoreAPI schema at https://memento.epfl.ch/api/docs/; every collection path re-probed against https://memento.epfl.ch/api/v1 on 2026-08-19 and all answer 200.
  operator_basis: host under EPFL's own registrable domain epfl.ch
  note: Pristine pre-refine source. This document has the CORRECT host. refine-openapis later merged tags across both EPFL specs and stamped every per-tag split with the first spec's server, which is how six memento-only resources came to claim actu.epfl.ch. Corrected in openapi/ on 2026-08-19.
