openapi: 3.2.0
info:
  title: EPFL Memento Events Spoken Languages API
  description: Public REST API serving EPFL events ("Memento"), with resources for events, mementos, categories, domains, faculties, registrations, spoken languages and vulgarizations.
  version: v1
  contact:
    name: EPFL Memento API
    url: https://memento.epfl.ch/api/docs/
servers:
- url: https://memento.epfl.ch/api/v1
security: []
tags:
- name: Spoken Languages
paths:
  /spoken_languages/:
    get:
      operationId: listSpokenLanguages
      summary: List all Spoken Language objects
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Ordering'
      responses:
        '200':
          description: A paginated list of spoken languages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSpokenLanguageList'
      tags:
      - Spoken Languages
  /spoken_languages/{id}/:
    get:
      operationId: readSpokenLanguage
      summary: Return the details about the given Spoken Language id
      parameters:
      - $ref: '#/components/parameters/IntId'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Ordering'
      responses:
        '200':
          description: A single spoken language.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpokenLanguage'
      tags:
      - Spoken Languages
components:
  schemas:
    SpokenLanguage:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
    PaginatedSpokenLanguageList:
      type: object
      properties:
        count:
          type: integer
        next:
          type:
          - string
          - 'null'
          format: uri
        previous:
          type:
          - string
          - 'null'
          format: uri
        results:
          type: array
          items:
            $ref: '#/components/schemas/SpokenLanguage'
  parameters:
    Ordering:
      name: ordering
      in: query
      description: Which field to use when ordering the results.
      schema:
        type: string
    Search:
      name: search
      in: query
      description: A search term.
      schema:
        type: string
    Offset:
      name: offset
      in: query
      description: The initial index from which to return the results.
      schema:
        type: integer
    IntId:
      name: id
      in: path
      required: true
      description: A unique integer value identifying this object.
      schema:
        type: integer
    Limit:
      name: limit
      in: query
      description: Number of results to return per page.
      schema:
        type: integer
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Optional DRF Token authentication.
    basicAuth:
      type: http
      scheme: basic
x-operator: institution
x-provenance:
  generated: '2026-06-03'
  verified: '2026-08-19'
  method: derived
  source: Django REST Framework CoreAPI schema at https://memento.epfl.ch/api/docs/; every collection path re-probed against https://memento.epfl.ch/api/v1 on 2026-08-19 and all answer 200.
  operator_basis: host under EPFL's own registrable domain epfl.ch
  note: Pristine pre-refine source. This document has the CORRECT host. refine-openapis later merged tags across both EPFL specs and stamped every per-tag split with the first spec's server, which is how six memento-only resources came to claim actu.epfl.ch. Corrected in openapi/ on 2026-08-19.
